@charset "UTF-8";
@import "reset";
@import "font";

$border-color:#ccc; //通用边框颜色
$container-left-width:200px;  //container 左边栏宽度
$font-n-color:#333; //默认文字颜色
$font-h-color:#34acd8; //默认hover文字颜色
$bg-color:#F4F8F9;
$min-width-kuang:1200px;
%bdrs{//通用圆角边框
  border-radius: 5px;
}
%edit-btn{  //通用按钮样式
  padding: 6px 28px;
  box-shadow: 0 1px 3px rgba(0,0,0,.6);
  border-bottom: 1px solid rgba(0,0,0,.25);
  text-shadow: 0 -1px 1px rgba(0,0,0,.25);
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  color: #ffffff;
  background: $font-h-color;
  cursor: pointer;
  @extend %trans-all;
    &:hover{
      background: #3dcdff;}
}
%small-btn{   //通用小按钮样式
    padding: 2px 10px;
    @extend %edit-btn;
    font-size: 14px;

}

%input-t{   //输入框通用样式
  width: 160px;
  height: 24px;
  line-height: 24px;
  text-indent: 4px;
  border: 1px solid #999;
  box-shadow: 0 1px 4px #CFCFCF inset;
}
%input-textarea{   // 文本框通用样式
  line-height: 24px;
  text-indent: 4px;
  border: 1px solid #999;
  box-shadow: 0 1px 4px #CFCFCF inset;
}
%alert-box-tt{    //通用弹出框标题
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid $border-color;
  background: $bg-color;}

/*通用头部*/
#head{
  min-width: $min-width-kuang;
  height: 120px;
  background: #00bcff;
  border-bottom: 2px solid $border-color;}
.head-logo{
  margin: 15px 0 0 15px;
  float: left;
  width: 120px;
  height: 70px;
  background: #fff url(../../Public/image/1.jpg) 0 0 no-repeat;
    a{
      height: 100%;
      display: block;
      text-indent: -9999em;}
}
.head-tt {
  padding-left: 20%;
  margin-top: 40px;
  float: left;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: normal; }

#head{
  .login{
    width:280px;
    height: 100%;
    float: right;
    .left {
      width: 100px;
      float: left;
      overflow: hidden; }
    .right{
      margin: 10px 0 0 5px;
      float: left;
      border-left: 2px solid $border-color;
      a{
        padding-left: 5px;
        font-size: 16px;
        line-height: 24px;}
    }
  }
}


  .left-nav{
    margin-top: 10px;
    li {
      font-size: 16px;
      line-height: 24px;
      span{
        margin-top: 8px;
        float: right;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top: 6px solid  $border-color;
        display: block;}
      ul{
        display: none;}
      &:hover{ background: #ffffff;
        ul{
          display: block;}
      }
    }
  }

/*通用底部*/
#footer{
  min-width: $min-width-kuang;
  height: 200px;
  background: #00bcff;}

/*主导航部分*/
#nav{
  min-width: $min-width-kuang;
  height: 48px;
  background: $bg-color;
  border-bottom : 2px solid $border-color;}
.main-nav{
  line-height: 40px;
    li{
      @extend  %trans-all;
      padding: 0 30px;
      margin-top: 4px;
      height: 40px;
      float: left;
      border-right: 2px solid $border-color;
      &:hover{
        background: #34ACD8;

        a{
          color: #ffffff;
          @extend  %trans-all;
        }
      }
        a{
          font-size: 16px;
          font-weight: bold;
          }
    }
  .active{ background: #34ACD8;
      a{color: #ffffff;}
  }
}

/*系统设置-container*/
#container {
  margin: 0 auto;
  overflow: hidden;
  min-width: $min-width-kuang;
  background: $bg-color;
  .left {
    position: relative;
    float: left;
    margin-right: -$container-left-width;
    width: $container-left-width;}
  .right{
    float: right;
    width: 100%;
      .right-con{
        padding-top:20px;
        margin-left: $container-left-width;
        border-left: 1px solid $border-color;
        min-height: 500px;
        background: #ffffff;}
  }
}

/*系统设置左边导航栏*/
.aside-nav{
  width: 100%;
  text-align: center;
    li{
      margin-bottom: 10px;
      height: 40px;
      line-height: 40px;
      color: $font-n-color;
      @extend  %trans-all;
      input{
        background: transparent;
        font-size: 16px;
        font-weight: bold;
        color: $font-n-color;
        font-family: "Microsoft Yahei";
      }
      &:hover{
        background: #ffffff;
        cursor: pointer;
          input{
            color: $font-h-color;}
      }
    }
    .aside-nav-nth1{
      height: 60px;
      font-size: 20px;
      font-weight: bold;
      line-height: 60px;
      color: $font-n-color;
      background: #ffffff;}
    .active{
      background: #ffffff;}
}

/*系统设置右边内容部分*/
.org-right-con{
  padding-bottom: 30px;
  margin: 0 auto;
  width: 98%;
  //min-width: 950px;
  border: 1px solid $border-color;
  overflow: hidden;}
.org-right-btns{
  height: 70px;
    .area-btn {
      @extend %edit-btn;
      margin: 20px 0 0 40px;
    }
}
.org-right-tree{
  margin-top: 25px;
  width: 225px;
  float: left;
  border-right: 1px dashed $border-color;
  min-height: 400px;}
.org-right-info{
  margin: 25px 0 0 10px;
  float: left;
  width: 700px;
  background: #ffffff;
  padding-bottom: 20px;
  border: 1px solid $border-color;
    .org-select {
      @extend %input-t;
      margin-top: 15px;
      text-indent: 0;
    }
    h3{
      @extend %alert-box-tt;
    }
    .info-left{
      margin-top: 20px;
      width: 350px;
      float: left;
      }
    .info-right{
      @extend .info-left;
    }
    label{
      float: left;
      margin: 20px 10px 0 0;
      width: 90px;
      text-align: right;}
    em{
      width: 350px;
      display: block;}
    .lab-ckbox{
      width: 30px;
      //margin-right: 46px;
      float: right;}
    .info-bottom{
      float: left;
      margin: 40px 20px 0 20px;
      width: 660px;
      height: 50px;
      border-top: 1px dashed $border-color;
        em{
          padding-left: 30px;
          width: 300px;
          height: 50px;
          line-height: 50px;
          float: left;}
    }
}
.alert-org-add{
  background: #ffffff;}
.input-org-info {
  margin-top: 15px;
  @extend %input-t;
}
.min-w{
  width: 85px;
  margin-right: 5px;}

.alert-btn{
  @extend %small-btn;
  margin: 20px 0 0 160px;
}

/*角色维护页面*/
.role-control{
  min-width: $min-width-kuang;
  padding: 20px 0;
  margin: 0 auto;
  width: 98%;
  background: #ffffff;
  border-bottom: 1px dashed $border-color;
    label{
      padding:0 10px 0 40px;}
}
.role-control-btn {
  margin-left: 10px;
  @extend %small-btn;
}
.role-table{
  margin-top: 20px;
}
.role-table-list{
  width: 98%;
  min-width: 1300px;
  margin: 0 auto;
  border: 1px solid $border-color;
  display: table;
    li{
      height: 25px;
      display: table-row;
        span{
          padding: 0 5px;
          height: 25px;
          display:inline-block;
          line-height: 25px;
          overflow: hidden;
        }
      &:nth-child(2n){
        background: $bg-color;}

    }
    .span-1{
      width: 10%;
      max-width: 100px;}
    .span-2{
      width: 20%;
      max-width: 192px;
    }
    .span-3{
      width: 30%;
      max-width: 278px;
    }
}
.over-h-y{
  height: 377px;
  overflow-y: auto;
}

.role-table-radio {
  margin: 8px 20px 0 20px;
}
.alert-role-add{
  width: 500px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #000;
    h3{
      @extend %alert-box-tt;}
}
.w1k{
  width: 1000px;
  position: relative;
}
.tree{
  float: right;
  margin: 3px 200px 0 0;
  width: 400px;
  float: right;}
.alert-role-add-con{
  float: left;
  margin-left: 100px;
  background: #ffffff;
  padding-bottom: 30px;
    label{
      padding-right: 20px;
      float: left;
    }
    p{
      padding: 20px 0 0 0;
    }
}
.role-teatarea{
  width: 160px;
  @extend %input-textarea;}
.input-role-name{
  @extend %input-t;
}
.alert-btn2{
  @extend %small-btn;
  margin: 20px 0 0 60px;
}
.delete-message{
  margin-top: 20px;
  margin-left: 100px;
}

/*职员维护页面*/
.data-log{
  margin-top: 60px;
    h3 {
      margin: 0 auto;
      width: 98%;
      height: 30px;
      text-indent: 10px;
      color: #ffffff;
      border: 1px solid $font-h-color;
      line-height: 30px;
      background: $font-h-color;
    }
}
.role-table-list2 li span:first-child{
  text-indent: 14px;}
.alert-user-add-con{
  padding: 20px 0 0 70px;
    label{
      padding-right: 20px;

      display: inline-block;
      text-align: right;}
    p{
      margin-bottom: 20px;}
    .sex{
      width: 10px;}
    .change-sex{
      margin-left: 10px;}
}
.channel-wz-a{
  margin-top: -10px;
  float: right;
  width: 80px;
  height: 20px;
  color: $font-h-color;
  }

.user-checkbox-list{
  padding-left: 72px;
  padding-bottom: 10px;
  input{
    float: left;
    margin-right: 5px;}
  li{
    margin-bottom: 5px;}
}

/*登陆页面*/
#tishi{
  float: right;
  margin-right: 40px;}
#index-login{
  position: fixed;
  top: 50%;
  left: 0;
  margin-top: -200px;
  width: 100%;
  //min-width: 1120px;
  height: 400px;
  background: $font-h-color;
    h1{
      margin-top: 40px;
      font-size: 30px;
      color: #ffffff;
      text-align: center;
    }
    span {
      position: absolute;
      top: -80px;
      left: 2%;
      width: 343px;
      height: 500px;
      display: block;
      background: url(../../Public/image/index-logo.png) 0 0 no-repeat;
    }

}
.index-login-con{
  float: right;
  padding:30px 0 20px 0;
  margin: 30px 10% 0 0;
  width: 450px;
  //min-width: 980px;
  height: 200px;
  background: #ffffff;
  border-radius: 40px;
    p{
      margin-bottom: 20px;
      margin-left: 10px;
        img{vertical-align: middle;}
    }
    label{
      float: left;
      padding-right: 10px;
      width: 100px;
      line-height: 30px;
      text-align: right;
      font-weight: bold;
    }
    input{
      @extend %input-t;
      width: 200px;
      height: 30px;
    }
    button{
      @extend %edit-btn;
      margin-left: 110px;
    }
}

/*登陆默认页*/
.default-index{
  min-width: 1140px;}
.default-index-tt{
  margin: 40px auto 0 auto;
  width: 762px;
  height: 65px;
  background: url(../../Public/image/defult-tt.gif) 0 0 no-repeat;
}
.pic-dp{
  margin-left: 4%;
  width: 343px;
  height: 500px;
  float: left;
  background: url(../../Public/image/index-logo.png) 0 0 no-repeat;
}
.default-index-wz{
  float: right;
  margin-right: 20%;
  margin-top: 200px;
  width: 500px;

    h1{
      width: 434px;
      height: 50px;
      background: url(../../Public/image/defult-tt2.gif) 0 0 no-repeat;}
    em{
      margin-top: 20px;
      width: 434px;
      display: block;
      font-size: 16px;
      line-height: 30px;}
}

/*渠道信息页*/
.channel-select-min{
  @extend %input-t;
  padding: 2px 0;
  margin-right: 10px;
  width: 80px;
  text-indent: 0;
}
.channel-select{
  @extend %input-t;
  margin-right: 10px;
  text-indent: 0;
}
.channel-index-btns{
  border: 1px solid $border-color;
  padding-bottom: 20px;}
.channel-tab{
  margin: 0 auto;
  width: 98%;
  height: 30px;
  text-indent: 10px;
  color: #ffffff;
  border: 1px solid $font-h-color;
  line-height: 30px;
  background: $font-h-color;
  li{
    margin-right: 10px;
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    float: left;
    cursor: pointer;
    @extend %trans-all;
  }
  .on{
    background: #fff;
    color: #000000;
  }
}

/*加油站信息页*/
.input-mac{
  @extend %input-t;
  width: 30px;
}
.device-point-pic{
    h4{
      margin-bottom: 10px;
      font-weight: normal;}
    span{
      margin-right: 10px;
      width: 110px;
      height: 75px;
      border: 1px solid $border-color;
      display: block;
      float: left;
      background: #fbfbfb;
      cursor: pointer;
        &:before{ content: '点击添加图片';
          width: 110px;
          height: 75px;
          line-height: 75px;
          display: block;
          text-align: center;}
        img{
          width: 100%;}
    }
}

/*app刊例维护*/
.maintain-download{
  padding-left: 5px;
  color: $font-h-color;
  text-decoration: underline;}

/*预警设置页*/
.alert-set-tab{
  padding-top: 40px;}
.set1{
  margin: 0 auto;
  padding: 5%;
  width: 88%;
  border: 1px solid $border-color;
    em{
      padding-left: 10px;}
    p{
      margin-bottom: 10px;}
    label{
      padding: 0 10px;}
}

/*监控平台页*/
.station-con{
  margin: 0 auto;
  width: 98%;
  background: #ffffff;

}
.station-control{
  padding: 20px 30px;
  border: 1px solid $border-color;
  overflow: hidden;
}
.station-control-list{
  overflow: hidden;
  width: 100%;
  li{
    margin-right:1%;
    float: left;
    width: 24%;
    height: 150px;
    @extend %bdrs;
    background: $bg-color;
      h4{
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
      }
      span{
        float: left;
        margin: 10px 0 0 10%;
        width: 100px;
        height: 100px;

          img{
            width: 100%;}
        }
      .station-zhuangtai{
        margin-top: 10px;
        float: left;
        width: 40%;
        height: 100px;
        overflow: hidden;
        [class^="icon-"], [class*=" icon-"]{
          font-size: 20px;
        }
          dt{
            height: 40px;
            line-height: 60px;
              b,em{
                padding-left: 10px;}
          }
      }
  }
}
.green-color{
  color: #5acc27;
}
.red-color{
  color: #cc0b12;
}
.yellow-color{
  color: #ffaf04;
}
.station-state-list{
  padding: 0 0;
  margin: 20px auto 0 auto;
  width: 98%;
  border: 1px solid $border-color;
  overflow: hidden;
}
.station-state-list-cx{
  margin-top: 15px;
  padding-left: 30px;
  height: 30px;
  overflow: hidden;
}
.station-info{
  @extend %input-t;
}
#j-station-sh2{
  display: none;}
.station-state-tree1{
  width: 200px;
  min-height: 253px;
  background: #e0e0e0;
  float: left;
}
.station-state-list-con{

  li{
    padding: 20px 0;
    background: $bg-color;
    overflow: hidden;
    border-bottom: 1px dashed $border-color;}
}
.station-state-info{
  padding: 0 30px;
  height: 20px;
  line-height: 20px;
  em{
      margin-right: 50px;
      font-size: 14px;
    }
}
.point-pic{
  float: left;
  margin: 20px 0 0 30px;
  width: 130px;
  height: 120px;
  background: #ffffff;
    span{
      width: 130px;
      height: 100px;
      display: block;
        img{
          width: 100%;}
    }
    em{
      width: 130px;
      height: 20px;
      line-height: 20px;
      display: block;
      text-align: center;
    }
}
.station-state-dl{
  padding-top: 10px;
  margin: 20px 0 0 20px;
  float: left;
  width: 76%;
  border: 1px solid #000;
  @extend %bdrs;
  [class^="icon-"], [class*=" icon-"]{
    font-size: 20px;
  }
    dt{
      margin-bottom: 10px;
      width: 25%;
      height: 30px;
      line-height: 30px;
      float: left;
        em{
          width: 100px;
          text-align: right;
          display: inline-block;
        }
        span{
          padding-left: 10px;}
    }
}
.table-state{
  height: 500px;
  overflow-y: auto;
  overflow-x: auto;}
.station-list2-wz{
  padding: 20px 0 0 0;
  max-width: 8000px;
  width:3800px;


    li{
      display: table-row;
        span{
          width: 200px;
          padding-left: 10px;
          height: 25px;
          line-height: 25px;
          overflow: hidden;
          display: inline-block;}
      &:nth-child(2n){
         background: $bg-color;
       }
      &:first-child{
        span{
          font-weight: bold;}
      }
    }
}
.mode-change{
  float: right;
  height: 25px;
  line-height: 25px;
    a {
      padding-right: 10px;
    }
    .active{
      color: $font-h-color;
      font-weight: bold;}
}
.kl-list{
  width: 820px;
  overflow: hidden;
  background: #ffffff;}