@charset "UTF-8";
@import "reset";

$border-color:#ccc; //通用边框颜色
$container-left-width:200px;  //container 左边栏宽度
$font-n-color:#333; //默认文字颜色
$font-h-color:#34acd8; //默认hover文字颜色
$bg-color:#F4F8F9;
%edit-btn{  //通用按钮样式
  padding: 6px 28px;
  box-shadow: 0 1px 3px rgba(0,0,0,.6);
  border-bottom: 1px solid rgba(0,0,0,.25);
  text-shadow: 0 -1px 1px rgba(0,0,0,.25);
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  color: #ffffff;
  background: $font-h-color;
  cursor: pointer;
  @extend %trans-all;
    &:hover{
      background: #3dcdff;}
}
%small-btn{   //通用小按钮样式
    padding: 2px 10px;
    @extend %edit-btn;
    font-size: 14px;

}

%input-t{   //输入框通用样式
  width: 160px;
  height: 24px;
  line-height: 24px;
  text-indent: 4px;
  border: 1px solid #999;
  box-shadow: 0 1px 4px #CFCFCF inset;
}
%input-textarea{   // 文本框通用样式
  line-height: 24px;
  text-indent: 4px;
  border: 1px solid #999;
  box-shadow: 0 1px 4px #CFCFCF inset;
}
%alert-box-tt{    //通用弹出框标题
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid $border-color;
  background: $bg-color;}

/*通用头部*/
#head{
  min-width: 930px;
  height: 120px;
  background: #00bcff;
  border-bottom: 2px solid $border-color;}
.head-logo{
  margin: 15px 0 0 15px;
  float: left;
  width: 120px;
  height: 70px;
  background: #fff url(../../Public/image/1.jpg) 0 0 no-repeat;
    a{
      height: 100%;
      display: block;
      text-indent: -9999em;}
}
.head-tt {
  padding-left: 20%;
  margin-top: 40px;
  float: left;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: normal; }

#head{
  .login{
    width:280px;
    height: 100%;
    float: right;
    .left {
      width: 100px;
      float: left;
      overflow: hidden; }
    .right{
      margin: 10px 0 0 5px;
      float: left;
      border-left: 2px solid $border-color;
      a{
        padding-left: 5px;
        font-size: 16px;
        line-height: 24px;}
    }
  }
}


  .left-nav{
    margin-top: 10px;
    li {
      font-size: 16px;
      line-height: 24px;
      span{
        margin-top: 8px;
        float: right;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top: 6px solid  $border-color;
        display: block;}
      ul{
        display: none;}
      &:hover{ background: #ffffff;
        ul{
          display: block;}
      }
    }
  }

/*通用底部*/
#footer{
  height: 200px;
  background: #00bcff;}

/*主导航部分*/
#nav{
  min-width: 700px;
  height: 48px;
  background: $bg-color;
  border-bottom : 2px solid $border-color;}
.main-nav{
  line-height: 40px;
    li{
      @extend  %trans-all;
      padding: 0 30px;
      margin-top: 4px;
      height: 40px;
      float: left;
      border-right: 2px solid $border-color;
      &:hover{ background: #34ACD8;
        a{
          color: #ffffff;
          @extend  %trans-all;
        }
      }
        a{
          font-size: 16px;
          font-weight: bold;
          }
    }
  .active{ background: #34ACD8;
      a{color: #ffffff;}
  }
}

/*系统设置-container*/
#container {
  margin: 0 auto;
  overflow: hidden;
  min-width: 860px;
  background: $bg-color;
  .left {
    position: relative;
    float: left;
    margin-right: -$container-left-width;
    width: $container-left-width;}
  .right{
    float: right;
    width: 100%;
      .right-con{
        padding-top:20px;
        margin-left: $container-left-width;
        border-left: 1px solid $border-color;
        min-height: 500px;
        background: #ffffff;}
  }
}

/*系统设置左边导航栏*/
.aside-nav{
  width: 100%;
  text-align: center;
    li{
      margin-bottom: 10px;
      height: 40px;
      line-height: 40px;
      color: $font-n-color;
      @extend  %trans-all;
      input{
        background: transparent;
        font-size: 16px;
        font-weight: bold;
        color: $font-n-color;
        font-family: "Microsoft Yahei";
      }
      &:hover{
        background: #ffffff;
          input{
            color: $font-h-color;}
      }
    }
    .aside-nav-nth1{
      height: 60px;
      font-size: 20px;
      font-weight: bold;
      line-height: 60px;
      color: $font-n-color;
      background: #ffffff;}
    .active{
      background: #ffffff;}
}

/*系统设置右边内容部分*/
.org-right-con{
  padding-bottom: 30px;
  margin: 0 auto;
  width: 98%;
  min-width: 950px;
  border: 1px solid $border-color;
  overflow: hidden;}
.org-right-btns{
  height: 70px;
    .area-btn {
      @extend %edit-btn;
      margin: 20px 0 0 40px;
    }
}
.org-right-tree{
  margin-top: 25px;
  width: 225px;
  float: left;
  border-right: 1px dashed $border-color;
  min-height: 400px;}
.org-right-info{
  margin: 25px 0 0 10px;
  float: left;
  width: 700px;
  border: 1px solid $border-color;
    h3{
      @extend %alert-box-tt;
    }
    .info-left{
      margin-top: 20px;
      width: 350px;
      float: left;
      }
    .info-right{
      @extend .info-left;
    }
    label{
      float: left;
      margin: 20px 15px 0 0;
      width: 100px;
      text-align: right;}
    em{
      width: 350px;
      display: block;}
    .lab-ckbox{
      width: 30px;
      margin-right: 46px;
      float: right;}
    .info-bottom{
      float: left;
      margin: 40px 20px 0 20px;
      width: 660px;
      height: 50px;
      border-top: 1px dashed $border-color;
        em{
          padding-left: 30px;
          width: 300px;
          height: 50px;
          line-height: 50px;
          float: left;}
    }
}

.input-org-info {
  margin-top: 15px;
  @extend %input-t;
}
.min-w{
  width: 60px;
  margin-right: 5px;}

.alert-btn{
  @extend %small-btn;
  margin: 20px 0 0 160px;
}

/*角色维护页面*/
.role-control{
  padding: 20px 0;
  width: 98%;
  border-bottom: 1px dashed $border-color;
    label{
      padding:0 20px 0 40px;}
}
.role-control-btn {
  margin-left: 10px;
  @extend %small-btn;
}
.role-table{
  padding-top: 20px;
}
.role-table-list{
  width: 98%;
  margin: 0 auto;
  border: 1px solid $border-color;
  display: table;
    li{
      height: 25px;
      display: table-row;
        span{
          height: 25px;
          display: table-cell;
          line-height: 25px;
        }
      &:nth-child(2n){
        background: $bg-color;}

    }
}
.role-table-radio {
  margin: 8px 0 0 20px;
}
.alert-role-add{
  width: 500px;
  border: 1px solid #000;
    h3{
      @extend %alert-box-tt;}
}
.alert-role-add-con{
  margin-left: 100px;
  padding-bottom: 30px;
    label{
      padding-right: 20px;
      float: left;
    }
    p{
      padding: 20px 0 0 0;
    }
}
.role-teatarea{
  width: 160px;
  @extend %input-textarea;}
.input-role-name{
  @extend %input-t;
}
.alert-btn2{
  @extend %small-btn;
  margin: 20px 0 0 60px;
}