@charset "UTF-8";
/* llcly Document */
/*common*/
* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-size: 12px;
  font-family: "Microsoft Yahei","SimHei";
  background-color: #fff; }

ol, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  color: #346eb4; }

i, em, strong, span, address {
  font-style: normal; }

h1, h2 {
  font-size: 14px; }

h3, h4 {
  font-size: 12px; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

.clear:after, .main:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear,
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.lh20 {
  line-height: 20px; }

.lh22 {
  line-height: 22px; }

.lh24 {
  line-height: 24px; }

.lh26 {
  line-height: 26px; }

.lh28 {
  line-height: 28px; }

.fb {
  font-weight: bold; }

.fn {
  font-weight: normal; }

.bk, .bk3, .bk6, .bk8, .bk10, .bk15, .bk20, .bk30 {
  clear: both;
  font-size: 1px;
  height: 0;
  line-height: 1px; }

.bk3 {
  height: 3px; }

.bk6 {
  height: 6px; }

.bk8 {
  height: 8px; }

.bk10 {
  height: 10px; }

.bk15 {
  height: 15px; }

.bk20 {
  height: 20px; }

.bk30 {
  height: 30px; }

a, .alert-btn, .role-control-btn, .alert-btn2, .org-right-btns .area-btn, .index-login-con button, .main-nav li, .main-nav li:hover a, .aside-nav li, .channel-tab li {
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s; }

.alert-btn, .role-control-btn, .alert-btn2, .org-right-btns .area-btn, .index-login-con button {
  padding: 6px 28px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  color: #ffffff;
  background: #34acd8;
  cursor: pointer; }
  .alert-btn:hover, .role-control-btn:hover, .alert-btn2:hover, .org-right-btns .area-btn:hover, .index-login-con button:hover {
    background: #3dcdff; }

.alert-btn, .role-control-btn, .alert-btn2 {
  padding: 2px 10px;
  font-size: 14px; }

.org-right-info .org-select, .input-org-info, .input-role-name, .index-login-con input, .channel-select-min, .channel-select {
  width: 160px;
  height: 24px;
  line-height: 24px;
  text-indent: 4px;
  border: 1px solid #999;
  box-shadow: 0 1px 4px #CFCFCF inset; }

.role-teatarea {
  line-height: 24px;
  text-indent: 4px;
  border: 1px solid #999;
  box-shadow: 0 1px 4px #CFCFCF inset; }

.org-right-info h3, .alert-role-add h3 {
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
  background: #f4f8f9; }

/*通用头部*/
#head {
  min-width: 1200px;
  height: 120px;
  background: #00bcff;
  border-bottom: 2px solid #cccccc; }

.head-logo {
  margin: 15px 0 0 15px;
  float: left;
  width: 120px;
  height: 70px;
  background: white url(../../Public/image/1.jpg) 0 0 no-repeat; }
  .head-logo a {
    height: 100%;
    display: block;
    text-indent: -9999em; }

.head-tt {
  padding-left: 20%;
  margin-top: 40px;
  float: left;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: normal; }

#head .login {
  width: 280px;
  height: 100%;
  float: right; }
  #head .login .left {
    width: 100px;
    float: left;
    overflow: hidden; }
  #head .login .right {
    margin: 10px 0 0 5px;
    float: left;
    border-left: 2px solid #cccccc; }
    #head .login .right a {
      padding-left: 5px;
      font-size: 16px;
      line-height: 24px; }

.left-nav {
  margin-top: 10px; }
  .left-nav li {
    font-size: 16px;
    line-height: 24px; }
    .left-nav li span {
      margin-top: 8px;
      float: right;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top: 6px solid #cccccc;
      display: block; }
    .left-nav li ul {
      display: none; }
    .left-nav li:hover {
      background: #ffffff; }
      .left-nav li:hover ul {
        display: block; }

/*通用底部*/
#footer {
  min-width: 1200px;
  height: 200px;
  background: #00bcff; }

/*主导航部分*/
#nav {
  min-width: 1200px;
  height: 48px;
  background: #f4f8f9;
  border-bottom: 2px solid #cccccc; }

.main-nav {
  line-height: 40px; }
  .main-nav li {
    padding: 0 30px;
    margin-top: 4px;
    height: 40px;
    float: left;
    border-right: 2px solid #cccccc; }
    .main-nav li:hover {
      background: #34ACD8; }
      .main-nav li:hover a {
        color: #ffffff; }
    .main-nav li a {
      font-size: 16px;
      font-weight: bold; }
  .main-nav .active {
    background: #34ACD8; }
    .main-nav .active a {
      color: #ffffff; }

/*系统设置-container*/
#container {
  margin: 0 auto;
  overflow: hidden;
  min-width: 1200px;
  background: #f4f8f9; }
  #container .left {
    position: relative;
    float: left;
    margin-right: -200px;
    width: 200px; }
  #container .right {
    float: right;
    width: 100%; }
    #container .right .right-con {
      padding-top: 20px;
      margin-left: 200px;
      border-left: 1px solid #cccccc;
      min-height: 500px;
      background: #ffffff; }

/*系统设置左边导航栏*/
.aside-nav {
  width: 100%;
  text-align: center; }
  .aside-nav li {
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    color: #333333; }
    .aside-nav li input {
      background: transparent;
      font-size: 16px;
      font-weight: bold;
      color: #333333;
      font-family: "Microsoft Yahei"; }
    .aside-nav li:hover {
      background: #ffffff;
      cursor: pointer; }
      .aside-nav li:hover input {
        color: #34acd8; }
  .aside-nav .aside-nav-nth1 {
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    color: #333333;
    background: #ffffff; }
  .aside-nav .active {
    background: #ffffff; }

/*系统设置右边内容部分*/
.org-right-con {
  padding-bottom: 30px;
  margin: 0 auto;
  width: 98%;
  border: 1px solid #cccccc;
  overflow: hidden; }

.org-right-btns {
  height: 70px; }
  .org-right-btns .area-btn {
    margin: 20px 0 0 40px; }

.org-right-tree {
  margin-top: 25px;
  width: 225px;
  float: left;
  border-right: 1px dashed #cccccc;
  min-height: 400px; }

.org-right-info {
  margin: 25px 0 0 10px;
  float: left;
  width: 700px;
  background: #ffffff;
  padding-bottom: 20px;
  border: 1px solid #cccccc; }
  .org-right-info .org-select {
    margin-top: 15px;
    text-indent: 0; }
  .org-right-info .info-left, .org-right-info .info-right {
    margin-top: 20px;
    width: 350px;
    float: left; }
  .org-right-info label {
    float: left;
    margin: 20px 15px 0 0;
    width: 100px;
    text-align: right; }
  .org-right-info em {
    width: 350px;
    display: block; }
  .org-right-info .lab-ckbox {
    width: 30px;
    margin-right: 46px;
    float: right; }
  .org-right-info .info-bottom {
    float: left;
    margin: 40px 20px 0 20px;
    width: 660px;
    height: 50px;
    border-top: 1px dashed #cccccc; }
    .org-right-info .info-bottom em {
      padding-left: 30px;
      width: 300px;
      height: 50px;
      line-height: 50px;
      float: left; }

.alert-org-add {
  background: #ffffff; }

.input-org-info {
  margin-top: 15px; }

.min-w {
  width: 60px;
  margin-right: 5px; }

.alert-btn {
  margin: 20px 0 0 160px; }

/*角色维护页面*/
.role-control {
  min-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  width: 98%;
  background: #ffffff;
  border-bottom: 1px dashed #cccccc; }
  .role-control label {
    padding: 0 10px 0 40px; }

.role-control-btn {
  margin-left: 10px; }

.role-table {
  margin-top: 20px; }

.role-table-list {
  width: 98%;
  min-width: 1300px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  display: table; }
  .role-table-list li {
    height: 25px;
    display: table-row; }
    .role-table-list li span {
      padding: 0 5px;
      height: 25px;
      display: inline-block;
      line-height: 25px;
      overflow: hidden; }
    .role-table-list li:nth-child(2n) {
      background: #f4f8f9; }
  .role-table-list .span-1 {
    width: 10%;
    max-width: 96px; }
  .role-table-list .span-2 {
    width: 20%;
    max-width: 192px; }
  .role-table-list .span-3 {
    width: 30%;
    max-width: 278px; }

.over-h-y {
  height: 377px;
  overflow-y: auto; }

.role-table-radio {
  margin: 8px 20px 0 20px; }

.alert-role-add {
  width: 500px;
  background: #ffffff;
  border: 1px solid #000; }

.alert-role-add-con {
  margin-left: 100px;
  padding-bottom: 30px; }
  .alert-role-add-con label {
    padding-right: 20px;
    float: left; }
  .alert-role-add-con p {
    padding: 20px 0 0 0; }

.role-teatarea {
  width: 160px; }

.alert-btn2 {
  margin: 20px 0 0 60px; }

.delete-message {
  margin-top: 20px;
  margin-left: 100px; }

/*职员维护页面*/
.data-log {
  margin-top: 60px; }
  .data-log h3 {
    margin: 0 auto;
    width: 98%;
    height: 30px;
    text-indent: 10px;
    color: #ffffff;
    border: 1px solid #34acd8;
    line-height: 30px;
    background: #34acd8; }

.role-table-list2 li span:first-child {
  text-indent: 14px; }

.alert-user-add-con {
  padding: 20px 0 0 70px; }
  .alert-user-add-con label {
    padding-right: 20px;
    display: inline-block;
    text-align: right; }
  .alert-user-add-con p {
    margin-bottom: 20px; }
  .alert-user-add-con .sex {
    width: 10px; }
  .alert-user-add-con .change-sex {
    margin-left: 10px; }

.user-checkbox-list {
  padding-left: 72px;
  padding-bottom: 10px; }
  .user-checkbox-list input {
    float: left;
    margin-right: 5px; }
  .user-checkbox-list li {
    margin-bottom: 5px; }

/*登陆页面*/
#index-login {
  position: fixed;
  top: 50%;
  left: 0;
  margin-top: -200px;
  width: 100%;
  height: 400px;
  background: #34acd8; }
  #index-login h1 {
    margin-top: 40px;
    font-size: 30px;
    color: #ffffff;
    text-align: center; }
  #index-login span {
    position: absolute;
    top: -80px;
    left: 2%;
    width: 343px;
    height: 500px;
    display: block;
    background: url(../../Public/image/index-logo.png) 0 0 no-repeat; }

.index-login-con {
  float: right;
  padding: 30px 0 20px 0;
  margin: 30px 10% 0 0;
  width: 450px;
  height: 200px;
  background: #ffffff;
  border-radius: 40px; }
  .index-login-con p {
    margin-bottom: 20px;
    margin-left: 10px; }
    .index-login-con p img {
      vertical-align: middle; }
  .index-login-con label {
    float: left;
    padding-right: 10px;
    width: 100px;
    line-height: 30px;
    text-align: right;
    font-weight: bold; }
  .index-login-con input {
    width: 200px;
    height: 30px; }
  .index-login-con button {
    margin-left: 110px; }

/*登陆默认页*/
.default-index {
  min-width: 1140px; }

.default-index-tt {
  margin: 40px auto 0 auto;
  width: 762px;
  height: 65px;
  background: url(../../Public/image/defult-tt.gif) 0 0 no-repeat; }

.pic-dp {
  margin-left: 4%;
  width: 343px;
  height: 500px;
  float: left;
  background: url(../../Public/image/index-logo.png) 0 0 no-repeat; }

.default-index-wz {
  float: right;
  margin-right: 20%;
  margin-top: 200px;
  width: 500px; }
  .default-index-wz h1 {
    width: 434px;
    height: 50px;
    background: url(../../Public/image/defult-tt2.gif) 0 0 no-repeat; }
  .default-index-wz em {
    margin-top: 20px;
    width: 434px;
    display: block;
    font-size: 16px;
    line-height: 30px; }

/*渠道信息页*/
.channel-select-min {
  margin-right: 10px;
  width: 80px;
  text-indent: 0; }

.channel-select {
  margin-right: 10px;
  text-indent: 0; }

.channel-index-btns {
  border: 1px solid #cccccc;
  padding-bottom: 20px; }

.channel-tab {
  margin: 0 auto;
  width: 98%;
  height: 30px;
  text-indent: 10px;
  color: #ffffff;
  border: 1px solid #34acd8;
  line-height: 30px;
  background: #34acd8; }
  .channel-tab li {
    margin-right: 10px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    float: left;
    cursor: pointer; }
  .channel-tab .on {
    background: #fff;
    color: #000000; }
